@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/*------------------------------------------Headings*/
.logo {
   text-align: center;
}

.logo-small {
    height: 60px;
    width: 100px;
}

body {
    background-color: #030303;
}

.whatwedo-info {
    color: #fafafa;
    font-family: "Roboto", sans-serif;

}

.testimonials {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.heading-colours {
    color:rgb(201, 191, 137);
    font-family: "Roboto", sans-serif;
}


.band-promise-heading{
    font-family: "Roboto", sans-serif;
    color:rgb(201, 191, 137);  
}

.dancing-couple {
    height: 30px;
    width: 30px;
}

/*------------------------------------------Menu*/
nav {
    width: 100%;
    height: 100px;
    background-color: rgb(201, 191, 137);
}

.menu {
    text-align: center;
}
.menu ul {
    list-style-type: none;
    margin-left: 80px;
    padding: 0;
    overflow: hidden;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
    
}

.menu ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    padding: 0 20px;
    text-transform: uppercase;
}

.menu li a:hover {
    color: rgb(95, 72, 8);
}

/*------------------------------------------Info/Forms*/
.photo {
    height: 600px;
    width: 100%;
    object-fit: contain;
   text-align: center;
}

.band-info {
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: inline-block;
    color: #fafafa;
}

.form-style {
    color:rgb(201, 191, 137);
    font-family: "Roboto", sans-serif;
}

.form-style-2 {
    font-family: "Roboto", sans-serif;
}

.input-form {
    display: inline-block;
}

.contact-info {
    float: left;
}

.contact-info, p {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.submit-button {
    background-color:rgb(201, 191, 137);
    font-family: "Roboto", sans-serif;
}

.submit-button:hover {
    color: rgb(95, 72, 8);
}

.date-style {
    font-family: "Roboto", sans-serif;
}


.band-promise {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    
}

/*------------------------------------------Videos*/

.video-container-1 {
    float: left;
}

.video-container-2 {
    display: inline-block;
}

/*------------------------------------------Footer*/
.copyright {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #fafafa;
}

footer{
   height: 150px;
 }

 .social-networks {
   text-align: center;
  
 }

.social-networks li:hover {
     color: rgb(95, 72, 8);
}

 .social-networks li {
   display: inline;
  
 }

 .social-networks i {
   font-size: 160%;
   margin: 1%;
   padding: 5%;
   color:rgb(201, 191, 137);
 }


