@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  
}

html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 2000px;
}

Body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #030303;
}

/*----------------------------------------Header/Nav Bar------------------------------------*/

.logo {
    box-shadow:0 0 15px 2px rgb(95, 72, 8);
}


.photo {
height: 100%;
width: 100%;
object-fit: contain;
text-align: center;
margin-top: 80px;
}


nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: rgb(165, 156, 108);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;

}
nav ul li a{
  color: rgb(95, 72, 8);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: rgb(219, 208, 147);
  background: rgb(165, 156, 108);
}
nav .menu-btn i{
  color: rgb(95, 72, 8);
  font-size: 22px;
  cursor: pointer;
  display: none;
  transition: all .5s ease-in-out;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: flex;
  }

  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }


  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(219, 208, 147);
    opacity: .8;
    height: 45vh;
    width: 45%;
    text-align: center;
    display: block;
    transition: all 0.3s ease-in ;
  }
  #click:checked ~ ul{
    left: 0;
    transition: all 0.1s ease-out;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  }
  #click:checked ~ ul li a{
    margin-left: 0;
  }

  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #fafafa;
  }
}
/*---------------------------------------Body Content-----------------------------------------*/
        
.heading-colours {
    color:rgb(201, 191, 137);
    font-family: "Roboto", sans-serif;
    text-align: center;
   
}

.heading-colours-2 {
    color:rgb(201, 191, 137);
font-family: "Roboto", sans-serif;
text-align: center;
}

.band-info {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    text-align: center;
    font-size: 20px;
}

.video {
    text-align: center;
    width: 100%;
    height: 20%;
    padding: 2rem;
    
}



.band-promise {
    font-family: "Roboto", sans-serif;
    color: #fafafa; 
    text-align: center; 
    font-size: 20px; 
    padding: 4rem; 
}

.line {
    text-align: center;
    color: #fafafa;
}

.band-promise-heading{
    font-family: "Roboto", sans-serif;
    color:rgb(201, 191, 137); 
    text-align: center; 
   
}

.whatwedo-info {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 2rem;
}

.logo-small {
    height: 60px;
    width: 150px;
    box-shadow:0 0 15px 4px #fafafa;
}


.testimonials {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 2rem;
    
}

.paragraph-colour {
      color:rgb(201, 191, 137); 
}

.dancing-couple {
    height: 30px;
    width: 30px;
}

/*------------------------------------------Contact Form---------------------------------------*/


.form-style {
    color:rgb(201, 191, 137);
    font-family: "Roboto", sans-serif;
}

.form-style-2 {
    font-family: "Roboto", sans-serif;
}

.input-form {
  margin: auto;
  width: 50%;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px #fafafa;
  display: block;
  text-align: center;
}

.contact-info {
    text-align: center;
    font-size: 20px;
}

.contact-info, p {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.submit-button {
    background-color:rgb(201, 191, 137);
    font-family: "Roboto", sans-serif;
}

.submit-button:hover {
    color: rgb(95, 72, 8);
}

.date-style {
    font-family: "Roboto", sans-serif;
}

.wba {
    text-align: center;
 }

 /*------------------------------------------Social Networks/Footer-------------------------------------------*/

 
.footer {
  background-color: rgb(168, 159, 112);
  height: 20%;
  width: 100%;

}

.social-networks {
   text-align: center;
   margin-bottom: 30px;
   font-size: 160%;
  
 }

.social-networks i:hover {
     color: rgb(219, 208, 147)
}

 .social-networks li {
   display: inline;
  
 }

 .social-networks i {
   font-size: 160%;
   margin: 1%;
   padding: 0;
   color:rgb(95, 72, 8);

 }

 .copyright {
     color: rgb(95, 72, 8);

 }
